/* Mobile view */

:root {
    --paragraph-color: #22211f;
    --body-font: 'josefin';

    --nav-background-color: #22333b;
    --nav-hover-link-color: #32021F;
    --main-background-color: #fff;
    --main-background-color2: #F4EBBE;
    --nav-hover-background-color: #F4EBBE;
}

/* body {
    font-family: var(--body-font);
    margin: 0;
    line-height: 1.6;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--main-background-color);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--nav-background-color);
    display: grid;
    grid-template-columns: 150px auto;
}

header div {
    display: flex;
    align-items: center;
}

header img {
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(235, 222, 222, 0.253);
}

header div h1 {
    color: white;
    padding-left: px;
    font-size: 2.5em;
}

h1 small {
    font-size: 0.4em;
    display: block;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

nav:hover {
    cursor: pointer;
}

nav ul li {
    list-style: none;
    padding: 5px;
    font-size: 20px;
    display: none;
}

nav a {
    text-decoration: none;
    color: white;
}

nav::before {
    content: "☰";
    font-size: 40px;
    padding: 30px;
    color: white;
}

nav.show::before {
    content: "❎";
    color: var(--nav-link-color);
    padding-left: 50px;
    font-size: 30px;
}

nav ul li:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
    border-radius: 5px;
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
}

.show li {
    display: block;
    color: white;
} */

#hobby {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

#hobby-box {
    grid-column: 1/6;
    grid-row: 1/4;
}

#hobby-img {
    width: 100%;
    height: 100%;
}

#hobby-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hobby-msg h1 {
    text-align: center;
}

.home-title {
    color: #c6ac8f;
    font-size: 4em;
    text-shadow: 1px 1px #5e503f;
}

#hobby-msg h4 {
    color: #5e503f;
    text-align: center;
    font-size: 6rem;
}

.book {
    background-color: #5e5e5e;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover {
    background-color: #22333b;
    color: white;
}

.button-box {
    text-align: center;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(50px);
}

main section img {
    box-sizing: border-box;
}

#background-home {
    /* background-color: #5e503f; */
    grid-column: 1/11;
    grid-row: 1/4;
    margin-top: 10px;
}

.keynotes {
    opacity: 0.6;
    position: absolute;
    font-size: 0.6em;
    width: 400px;
    color: white;
    background-color: black;
    bottom: 30px;
    right: 10px;
    border-radius: 10px;

    /* display: inline-flex; */
    
}

.keynotes ul li {
    list-style: none;
    text-align: left;
}

.home {
    grid-column: 2/5;
    grid-row: 2/3;
    margin-top: 60px;
}

.brown-img {
    /* border: 10px solid #c6ac8f; */
    transition: transform .5s;
    /* box-shadow: 10px 10px 20px #22333b; */
    width: 100%;
}

.brown-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

/* Dropdown Button */
.dropbtn {
    background-color: #22333b;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #22333b;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #c6ac8f;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #5e503f
}

.home-text {
    background-color: #d2c5b6;
    text-align: right;
    grid-column: 6/10;
    grid-row: 2/3;
    transition: transform .5s;
    box-shadow: 10px 10px 20px #22333b;
    margin-top: 30px;
    margin-bottom: 50px;
}

.home-text h2 {
    color: white;
    font-family: 'josefin sans';
    padding-right: 20px;
}

.home-text p {
    color: white;
    padding: 25px;
    padding-bottom: 5px;
    margin-top: -20;
    line-height: 1.25em;
    font-family: 'josefin sans';
}

.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    border-radius: 10px;
    width: 130%;
    height: 200px;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.sharing-card,
.supplies-card,
.contact-card {
    margin: 100px 0;
}

.sharing-card {
    grid-column: 2/4;
    grid-row: 6/8;
}

.supplies-card {
    grid-column: 5/7;
    grid-row: 6/8;
}

.contact-card {
    grid-column: 8/10;
    grid-row: 6/8;
}

.container {
    position: relative;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.text a {
    background-color: #5e5e5e;
    color: white;
    font-size: 25px;
    padding: 16px 32px;
    border-radius: 5px;
    box-shadow: 10px 10px 20px #c6ac8f;
}


@media screen and (max-width: 900px) {

    /* @media screen and (min-width: 37.5em) { */
    header {
        background-color: #22333b;
    }

    #hobby,
    .home-grid {
        display: block;
        height: auto;
    }

    footer {
        flex-direction: column;
    }

    .navigation {
        /* font-family: 'josefin sans';
        font-size: .8em; */
        display: block;
        flex-direction: column;
        list-style: none;
        /* justify-content: space-around; */
        background-color: #22333b;
        color: #fff;
    }

    .navigation a {
        display: none;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        color: #fff;
    }

    .navigation a:hover {
        background-color: #c6ac8f;
        color: white;
        font-weight: 700;
        display: flex;
        padding: 15px;
    }

    hide hamburger button
    #menu {
        display: flex;
    }

    #menu {
        font-size: 1.5rem;
        border: 0;
        background: none;
        color: #000;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    #menu::before {
        content: "☰";
        color: #d9d9d9;
    }

    #menu.open::before {
        content: "❎";
    }

    /* when the button is clicked - the open class is toggled (added/removed) */
    .open a {
        display: block;
    }

    #hobby {
        margin-top: 0;
    }

    #hobby-msg {
        margin-top: 0;
    }

    #hobby-msg h1 h4 {
        display: none;
    }

    .home-title {
        font-size: 25px;
        color: #6f7364;
    }

    .information {
        margin: 50px auto;
        width: 60%;
    }

    #background-home {
        display: none;
    }

    .title-text {
        font-size: 25px;
        color: #6f7364;
    }

    #information,
    .title-text {
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    footer {
        margin-top: 25px;
    }
}



@media screen and (max-width: 900px) {

    #find,
    .home-grid {
        display: block;
        height: auto;
    }

    #find {
        margin-top: 0;
    }

    #find-msg {
        margin-top: 0;
    }

    #find-msg h1 h4 {
        display: none;
    }

    .home-title {
        font-size: 25px;
        color: #6f7364;
    }

    .infor-img .yarns-img {
        margin: 50px auto;
        width: 60%;
    }

    #background-finding {
        display: none;
    }

    .finding {
        font-size: 25px;
        color: #6f7364;
    }

    #information {
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    footer {
        margin-top: 25px;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #c6ac8f;
}

form li+li {
    margin-top: 1em;
}

label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
}

input,
textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;

    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;

    /* Match form field borders */
    border: 1px solid #999;
}

input:focus,
textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
}

textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;

    /* Provide space to type some text */
    height: 5em;
}
