* {
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    font-family: 'josefin';
    font-size: 25px;
    margin: 0;
    line-height: 1.6;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #22333b;
    display: grid;
    grid-template-columns: 300px auto;
}

header div {
    display: flex;
    align-items: center;
}

header img {
    width: 100px;
    height: 100%;
    padding: 5px;
    /* border-radius: 20px; */
    /* box-shadow: 2px 2px 2px rgba(235, 222, 222, 0.253); */
}

header div h1 {
    color: white;
    padding-left: 30px;

}

h1 small {
    font-size: 0.3em;
    display: block;
    line-height: 1px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}


nav:hover {
    cursor: pointer;
}

nav ul li {
    list-style: none;
    padding: 5px;
    font-size: 20px;
    display: none;
}

nav a {
    text-decoration: none;
    color: white;
}

nav::before {
    content: "☰";
    font-size: 40px;
    padding: 30px;
    color: white;
}

nav.show::before {
    content: "❎";
    color: var(--nav-link-color);
    padding-left: 50px;
    font-size: 30px;
}

nav ul li:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
    border-radius: 5px;
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
}

.show li {
    display: block;
    color: white;
}

/* hide hamburger button */
#menu {
    display: none;
}

.navigation {
    font-family: 'josefin sans';
    font-size: .5em;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-around;
    justify-content: right;
    background-color: #22333b;
    background-color: #22333b;
    color: #fff;
    text-align: center;
}

.navigation a {
    display: flex;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.navigation a:hover {
    background-color: #c6ac8f;
    color: white;
    font-weight: 700;
}

footer {
    background-color: #5e503f;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: #fefae0;
    text-decoration: none;

}

footer a:hover {
    background-color: #fefae0;
    color: #bc6c25;
}

footer p {
    font-size: 1em;
    color: white;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

.moveDown {
    margin-top: 3em;
}

main {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    /* padding: 10px;
    border-color: var(--paragraph-color); */
}

.required-note {
    text-align: center;
}

.note {
    /* display: block; */
    color: #32021F;
    font-style: italic;
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    line-height: 2;
}


input[type="text"],
input[type="email"],
input[type="phone"],

textarea,
fieldset,
input[type="submit"],
input[type="home"] {
    width: 100%;
    box-sizing: border-box;
}

input[type="text"],
input[type="email"],
input[type="phone"],
textarea {
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    transition: 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="phone"]:focus,
textarea:focus {
    outline: none;
    border-color: var(--paragraph-color);
    box-shadow: 0 0 0 2px var(--nav-background-color);
}

fieldset {
    margin-bottom: 20px;
    /* border: 1px solid var(--paragraph-color); */
    padding: 10px;
    border-radius: 10px;
}

/* legend {
    font-weight: bold;
    padding: 0 10px;
} */

.radio-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.radio-group label {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 0;
    cursor: pointer;
}

/* input[type="home"],
input[type="submit"] {
    background-color: var(--nav-background-color);
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 10px;
}

input[type="home"]:hover,
input[type="submit"]:hover {
    background-color: var(--nav-hover-link-color);
} */


.membership-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.membership-heading {
    text-align: center;
}

.membership-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    /* border: 1px solid var(--secondary-color); */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    background-color: #e6f3f7;
    box-shadow: 5px 5px 10px #22333b;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
    width: 100%;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card:nth-child(1) {
    animation-delay: 0.2s;
}

.card:nth-child(2) {
    animation-delay: 0.4s;
}

.card:nth-child(3) {
    animation-delay: 0.6s;
}

.card:nth-child(4) {
    animation-delay: 0.8s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.card h3 {
    text-align: center;
    background-color: #c4933f;
    font-size: 1rem;
    border-radius: 5px;
}

.card a {
    display: inline-block;
    margin-top: 10px;
    color: #60a6f0;
    text-decoration: none;
    font-weight: bold;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: var(--nav-hover-background-color);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--nav-hover-background-color);
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 2px 8px;
}

.close {
    color: var(--paragraph-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
}